SESSION_ID=

MODE=private
PREFIX=^[.,!]

READ_COMMAND=false
READ_MSG=false
LOG_MSG=false

BLOCK_CHAT=false

LANGUAGE=EN

ALWAYS_ONLINE=false

BOT_NAME=ʜᴇʀᴍɪᴛ

AUTOMUTE_MSG=_Group automuted!_
AUTOUNMUTE_MSG=_Group autounmuted!_
ANTILINK_MSG=_Link Not Allowed!_

BOT_INFO=ʜᴇʀᴍɪᴛ;ᴀᴅɪᴛʜyᴀɴ;972528277755;https://i.imgur.com/6oRG106.jpeg

AUDIO_DATA=ʜᴇʀᴍɪᴛ;ᴀᴅɪᴛʜyᴀɴ;https://i.imgur.com/fj2WE83.jpeg

STICKER_DATA=ʜᴇʀᴍɪᴛ;ᴀᴅɪᴛʜyᴀɴ

ERROR_MESSAGE=true

SONG_THUMBNAIL=false

WARN=4

REJECT_CALL=false

KOYEB_API_KEY=
KOYEB_APP_NAME=

RENDER_API=
RENDER_NAME=

TERMUX=false
VPS=false

AUTO_STATUS_VIEW=false

APIKEY=free

AUTH_FILE=false

START_MSG=true

DATABASE_URL=./database.db

PORT=3000
NODE_ENV=production
